* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    /* background-color: green; */
}

#container {
    background-color: aliceblue;
    color: red;
    margin: 20px;
    padding: 40px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    text-decoration: dashed;
    text-decoration: underline;
}

#myBtn {
    background-color: black;
    padding: 30px;
    border-radius: 20px;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
    div.example {
        display: none;
    }
} */

/* @media only screen and (orientation: landscape) {
    body {
        background-color: aqua;
    }
} */

@media print {
    div.example {
        display: none;
    }
}

/* @media only screen and (min-width: 700px) and (max-width: 800px) {
    body {
        background-color: magenta;
    }
} */
/* #sidebar {
    font-size: 50px;
} */


#sidebar ul li a {
    color: #900;
    text-decoration: none;
    padding: 3px 0;
    display: block;
    font-size: 1em;
}

@media all and  (max-width: 699px) and (min-width: 520px), (min-width: 1001px) {
    #sidebar ul li a {
        padding-left: 21px;
        background: url(../images/mail.jpg) left center no-repeat;
        background-size: 20px 20px;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    #sidebar ul li a:before {
        content: "Email: ";
        font-style: italic;
        color: #666;
    }
}

@media all and (min-width: 1001px) {
    #sidebar ul li a:after {
        content: "("attr(data-email)")";
        font-size: 11px;
        font-style: italic;
        color: #666;
    }
}


#parent {
    background-color: rgba(86, 134, 86, 0.5);
    height: 100px;
    width: 100px;
    margin-top: 1000px;
    position: relative;
}

#child {
    background-color: aqua;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
}